.quoteText {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.6;
    font-family: 'Albert Sans light';
    color: #FFFFFF;
    text-align: left;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

@media (max-width: 768px) {
    .quoteText {
        font-size: 1.1rem;
    }
}